<div class="row">
  <div class="col-sm-2">&nbsp;</div>
</div>

<div class="form-group row hide" style="display: none">
  <label class="col-sm-2 col-form-label">Project Id:</label>
  <div class="col-sm-5">
    <input [(ngModel)]="addUser.ProjetId" type="text" class="form-control" id="name" required>
  </div>
</div>
<div class="form-group row" style=font-weight:400>
  <label class="col-sm-2 col-form-label">Project</label>
  <div class="col-sm-5">
    <select [(ngModel)]="addTask.ProjectId" class="form-control" id="name" name="addTask.ProjectId">
      <option selected="" value=""></option>
      <option [ngValue]="pt.ParentId" *ngFor="let pt of availableParentTasks">
        {{pt.ProjectName}}
      </option>
    </select>
  </div>
</div>
<div class="form-group row" style=font-weight:400>
  <label class="col-sm-2 col-form-label">Priority:</label>
  <div class="col-sm-5">
    <ng5-slider [(value)]="addTask.Priority" [options]="options" name="Priority"></ng5-slider>
  </div>
</div>
<div class="form-group row" style=font-weight:400>
  <label class="col-sm-2 col-form-label">Task:</label>
  <div class="col-sm-5">
    <input [(ngModel)]="addUser.Task" type="text" class="form-control" id="name" required>
  </div>
</div>
<div class="form-group row" style=font-weight:400>
  <label class="col-sm-2 col-form-label">Parent Task:</label>
  <div class="col-sm-5">
    <select [(ngModel)]="addTask.ParentId" class="form-control" id="name" name="addTask.ParentId">
      <option selected="" value=""></option>
      <option [ngValue]="pt.ParentId" *ngFor="let pt of availableParentTasks">
        {{pt.ParentTaskName}}
      </option>
    </select>
  </div>
</div>
<div class="form-group row" style=font-weight:400>
  <label class="col-sm-2 col-form-label">Start Date</label>
  <div class="col-sm-5">

    <input type="date" [ngModel]="start | date:'yyyy-MM-dd'" (ngModelChange)="start = $event" class="form-control">
  </div>
</div>
<div class="form-group row" style=font-weight:400>
  <label class="col-sm-2 col-form-label">End Date</label>
  <div class="col-sm-5">
    <input type="date" [ngModel]="end | date:'yyyy-MM-dd'" (ngModelChange)="end = $event" class="form-control" placeholder="End Date"
      name="end">
  </div>
</div>
<div class="form-group row" style=font-weight:400>
  <div class="col-sm-3">
  </div>
  <div class="col-sm-5">
    <button type="submit" class="btn btn-success" (click)="saveTask()">Add</button>
    <button type="button" class="btn btn-primary">Update</button>
    <button type="button" class="btn btn-warning">Cancel</button>
  </div>
</div>
<div class="col-md-12">
  <h3>Project Details</h3>
  <div class="form-group row" style=font-weight:400>
    <label class="col-sm-2 col-form-label">Project:</label>
    <div class="col-sm-5">
      <input [(ngModel)]="addUser.FirstName" type="text" class="form-control" id="name" required>
    </div>
  </div>
  <div class="form-group row" style=font-weight:400>
    <label class="col-sm-2 col-form-label">Project details:</label>
    <div class="col-sm-5">
      <input [(ngModel)]="addUser.LastName" type="text" class="form-control" id="name" required>
    </div>
  </div>
  <div class="form-group row" style=font-weight:400>
    <label class="col-sm-2 col-form-label">Project List:</label>
    <div class="col-sm-5">
      <input [(ngModel)]="addUser.EmployeeId" type="text" class="form-control" id="name" required>
    </div>
  </div>
  <div class="form-group row" style=font-weight:400>
    <div class="col-md-12 text-center"> 
      <button id="button" name="button" class="btn btn-primary">Search</button> 
    </div>
  </div>
  </div>